<!DOCTYPE html>
<html lang="en" ng-app="store">
	<head>
		<title>Gem Store :: Angular.js</title>
		<meta name="keywords" value="gem store, codeschools, angular.js, sample app, pello altadill" />
		<meta name="description" value="Gem Store sample app from codeschools built on angularjs" />
		<link rel="stylesheet" type="text/css" src="css/bootstrap.min.css" />
	</head>
	<body  ng-controller="StoreController as store">


		<div  ng-repeat="product in store.products">
			<h1>{{product.name}}</h1>
			<h2>{{product.price | currency }}</h2>
			<p>{{product.description}}</p>
			<div ng-show="{{product.images.length}}">
			<img ng-src="{{store.product.images[0].full}}">
			</div>
			<!-- Filters -->
			<!-- {{ 234243234 | date: 'MM/dd/yyyy @ h:mma'}}-->
			<!-- {{ 'blabla' | uppercase}}-->
			<!-- {{ 'Desc' | limitTo:8}}-->
			<!-- products in store.products | limitTo:3
				 products in store.products | orderBy:'-price'
				
			-->
			<!--If we omit thos angular is smart enough not to show
			not to show: ng-hide="store.product.soldOut" -->
			<button ng-show="product.canPurchase">Add to Cart</button>
			<!-- check panels.html for better alter. using controllers-->
		<section class="nav nav-pills" ng-init="tab = 1" >
			<ul>
				<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
				<li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Specifications</a></li>
				<li ng-class="{active:tab === 3}"><a href ng-click="tab = 3">Reviews</a></li>
			</ul>
			{{tab}}
		</section>
		<div class="panel" ng-show="tab === 1">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" ng-show="tab === 1">
			<h4>Specifications</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" ng-show="tab === 1">
			<h4>Reviews</h4>
			<blockquote>None yet</blockquote>
		</div>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>