<!DOCTYPE html>
<html lang="en" ng-app="store">
	<head>
		<title>Gem Store :: Angular.js</title>
		<meta name="keywords" value="gem store, codeschools, angular.js, sample app, pello altadill" />
		<meta name="description" value="Gem Store sample app from codeschools built on angularjs" />
		<link rel="stylesheet" type="text/css" src="css/bootstrap.min.css" />
	</head>
	<body  ng-controller="StoreController as store">


		<div  ng-repeat="product in store.products">
			<h1>{{product.name}}</h1>
			<h2>{{product.price | currency }}</h2>
			<p>{{product.description}}</p>
			<div ng-show="{{product.images.length}}">
			<img ng-src="{{store.product.images[0].full}}">
			</div>
			<!-- Filters -->
			<!-- {{ 234243234 | date: 'MM/dd/yyyy @ h:mma'}}-->
			<!-- {{ 'blabla' | uppercase}}-->
			<!-- {{ 'Desc' | limitTo:8}}-->
			<!-- products in store.products | limitTo:3
				 products in store.products | orderBy:'-price'
				
			-->
			<!--If we omit thos angular is smart enough not to show
			not to show: ng-hide="store.product.soldOut" -->
			<button ng-show="product.canPurchase">Add to Cart</button>
			<!-- check panels.html for better alter. using controllers-->
		<section class="nav nav-pills" ng-init="tab = 1" >
			<ul>
				<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
				<li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Specifications</a></li>
				<li ng-class="{active:tab === 3}"><a href ng-click="tab = 3">Reviews</a></li>
			</ul>
			{{tab}}
		</section>
		<div class="panel" ng-show="tab === 1">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" ng-show="tab === 1">
			<h4>Specifications</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" ng-show="tab === 1">
			<h4>Reviews</h4>
			<blockquote ng-repeat="review in product.reviews">
				<b>stars: {{review.stars}}</b>
				{{review.body}}
				<cite>{{review.author}}</cite>
			</blockquote>
			<!-- To initi this vars from the form we could use ng-init
			 but instead of that we will use a controller turn off htnlvaliation-->
			<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && eviewCtrl.addReview(product)" novalidate>
				<blockquote>
					<b>stars: {{reviewCtrl.review.stars}}</b>
					{{reviewCtrl.review.body}}
					<cite>{{reviewCtrl.review.author}}</cite>		
				</blockquote>
				   <!--select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars"-->
            	<!-- Form input class evolution:
            		source before typing email:
            		<input type="author" ... class="ng-pristine ng-invalid">
            		After typing invalid email:
            		<input type="author" ... class="ng-dirty ng-invalid">
            		After typing correct email
            		<input type="author" ... class="ng-dirty ng-valid">
					
					Use this css classes to highlight
					.ng-invalid.ng-dirty {
						border-color: #FA787E; // red						
					}

					.ng-valid.ng-dirty {
						border-color: #78FA89; // green						
					}
					Angular valiation, angularjs
            	-->
				<select ng-model="reviewCtrl.review.stars" required>
					<option value="1">1 star</option>
					<option value="2">2 stars</option>
					<option value="3">3 stars</option>
				</select>
				<textarea ng-model="reviewCtrl.review.body" required></textarea>
				<label>By</label>
				<input type="email" ng-model="reviewCtrl.review.author" required />
				<!-- $valid comes with angular-->
				<div>Review form validation: {{reviewForm.$valid}}</div>
				<input ng-model="reviewCtrl.review.terms" type="checkbox" />I agree to the terms
				<label>What color would you like?</label>
				<input ng-model="reviewCtrl.review.color" type="radio" value="green" />Green
				<input ng-model="reviewCtrl.review.color" type="radio" value="blue" />Blue
				<input ng-model="reviewCtrl.review.color" type="radio" value="red" />Red
				<input type="submit" value="Submit" />
			</form>
		</div>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>