
<product-panels ng-controller="PanelController as panels">

		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<blockquote>None yet</blockquote>
		</div>
</product-panels>