		<section class="nav nav-pills" ng-init="tab = 1" ng-controller="PanelController as panel">
			<ul>
				<li class="{active: panel.isSelected(1)}">
					<a href ng-click="panel.selectTab(1)">Description</a>
				</li>
				<li class="{active: panel.isSelected(2)}">
					<a href ng-click="panel.selectTab(2)">Specifications</a>
				</li>
				<li class="{active: panel.isSelected(3)}">
					<a href ng-click="panel.selectTab(3)">Reviews</a>
				</li>
			</ul>
			{{tab}}
		</section>
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{product.description}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<blockquote>None yet</blockquote>
		</div>