		<section>
			<ul>
				<li class="{active: panel.isSelected(1)}">
					<a href ng-click="panel.selectTab(1)">Description</a>
				</li>
				<li class="{active: panel.isSelected(2)}">
					<a href ng-click="panel.selectTab(2)">Specifications</a>
				</li>
				<li class="{active: panel.isSelected(3)}">
					<a href ng-click="panel.selectTab(3)">Reviews</a>
				</li>
			</ul>
			{{tab}}
		</section>